body {
  font-family: sans-serif;
}

.container div:nth-child(1) {
  background-color: red;
}
.container div:nth-child(2) {
  background-color: white;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: blue;
}

.circle {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: blackg;
}
